* {
  padding: 0;
  margin: 0;
}

.test {
  padding: 3rem;
  color: #232323;
}
.test__heading::before {
  content: "hello";
  background-color: aqua;
}
.test__heading::after {
  content: "bye";
  background-color: aqua;
}

body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  padding: 1rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgb(73, 24, 118), rgb(95, 71, 95));
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__box__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: skewY(50deg);
  }
  100% {
    transform: skewY(0deg);
    opacity: 1;
  }
}
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: black;
  background-color: plum;
  padding: 1rem 2rem;
  border-radius: 100px;
  position: relative;
  font-weight: 600;
  transition: all 0.2s;
}
.btn::before {
  content: "";
  background-color: black;
  border-radius: 100px;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  z-index: -1;
}
.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:hover::before {
  transform: scaleX(20) scaleY(20);
  opacity: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

.card-1 {
  position: relative;
  margin: 1rem;
  background-color: #232323;
}
.card-1::before, .card-1::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  bottom: 1.25rem;
  right: 1.25rem;
}
.card-1::before {
  opacity: 0.3;
  transform: scale(0, 1);
  transition: transform 0.3s;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 1;
}
.card-1::after {
  opacity: 0.3;
  transform: scale(1, 0);
  transition: transform 0.3s;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.card-1:hover::before {
  transform: scale(1.05, 1);
  opacity: 1;
}
.card-1:hover::after {
  transform: scale(1, 1.05);
  opacity: 1;
}
.card-1__img {
  max-width: 100%;
  display: block;
  transition: opacity 0.3s;
}
.card-1__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.card-1__title {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 400;
}
.card-1__body {
  font-size: 1.5rem;
  font-weight: 300;
}
.card-1:hover .card-1__text {
  opacity: 1;
}
.card-1:hover .card-1__img {
  opacity: 0.5;
}

.card-2 {
  position: relative;
  margin: 1rem;
  background-color: #232323;
  overflow: hidden;
}
.card-2::before, .card-2::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  bottom: 1.25rem;
  right: 1.25rem;
}
.card-2::before {
  transition: all 3s;
  border: 1px solid white;
  z-index: 1;
}
.card-2:hover::before {
  left: 48%;
  right: 48%;
  transform: rotate(45deg);
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.3;
}
.card-2::after {
  transition: all 3s;
  border: 1px solid white;
}
.card-2:hover::after {
  top: 48%;
  bottom: 48%;
  transform: rotate(45deg);
  background-color: #ffffff;
  opacity: 0.3;
}
.card-2__img {
  max-width: 100%;
  display: block;
  transition: all 0.3s;
  transform: scale(1.25);
}
.card-2__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
.card-2__title {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 400;
}
.card-2__body {
  font-size: 1.5rem;
  font-weight: 300;
}
.card-2:hover .card-2__text {
  opacity: 1;
}
.card-2:hover .card-2__img {
  opacity: 0.5;
  transform: scale(1);
}

.card-3 {
  position: relative;
  margin: 1rem;
  height: 400px;
  width: 400px;
  background-color: #232323;
  overflow: hidden;
}
.card-3::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  bottom: 1.25rem;
  right: 1.25rem;
  background-color: #232323;
  transform: translateY(370px);
  transition: all 0.5s;
  border-top: 2px solid white;
  opacity: 1;
}
.card-3:hover::after {
  transform: translateY(0);
}
.card-3__text {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  color: #ffffff;
  opacity: 1;
  transition: all 0.3s;
}
.card-3__body {
  font-size: 1.5rem;
  font-weight: 300;
}